@charset "utf-8";
@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/Silkscreen-Regular.ttf');
}
@font-face {
    font-family: 'Teko';
    src: url('../fonts/Teko-Regular.ttf');
}
:root{
    --primary-color: #000000;
    --secondary-color: #5658b1c7;    
    --background-color: #cac6c6a8;
    --text-color: #131212;
    --font-title-color: #fff;
    --font-color: #141414;
    --logo-color: rgba(250, 6, 6, 0.774);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Teko', 'sans-serif';
    color: var(--font-color);
}
@media all {
    html{
    overflow-x: hidden;
    background-image: url('../images/pc-hardware1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
}
header.top{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 5vh;
    max-height: 100px;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    background: linear-gradient(var(--background-color),var(--primary-color),transparent);
}
header.top h2{
    font-family: 'Teko', sans-serif;
    text-align: center;
    color: var(--logo-color);
}
header.top a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 4vw;
    min-width: 50px;

}
 
aside.info{
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(218, 5, 5, 0.904);
    border: 1px solid var(--font-title-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: rgb(240, 239, 239);    
}
a.login{
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    color: var(--background-color);
    padding: 5px 10px;
    border: 1px solid var(--background-color);
    border-radius: 5px;
}
a.login:hover{
    background-color: var(--primary-color);
    border-radius: 1px;
    border-color: var(--font-title-color);
    color: var(--font-title-color);
    transform: translate(-2px, -2px);
    transition: all 100ms;
}
header.top a.login p{
    color: var(--background-color);
}
main.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
}
header.title{
    font-family: var(--font-title);
    font-size: 1.rem;
    text-align: center;
    padding: 5vh;
}
header.title h1{
    font-family: 'Silkscreen';
    color: var(--font-title-color);
}
img.logo{
    width: 100px;
    filter: drop-shadow(1px 1px 7px rgb(21, 18, 228));
}
section.content{
    margin: .5vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 15vh;
}
fieldset.box-data{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    background-color: var(--background-color);
    border: 1px solid var(--background-color);
    border-radius: 10px;
    min-width: 400px;
}
input#password, input#matricula{
    margin: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text-color);
}
input#password:focus, input#matricula:focus{
    outline: none;
    cursor:text;
}
label{
    font-size: 1.3rem;
}
div.bt-box{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
button#submit{
    background-color: transparent;
    padding: 2px 10px;
    font-size: 1em;
}
button#submit:hover{
    background-color: var(--background-color);
    border-color: var(--font-title-color);
    transform: translate(-1px, -1px);
    transition: all 0.1s;
}
button#esqueci-senha{
    background-color: transparent;
    color: var(--font-title-color);
    margin: 20px 0px;
    border: 0px solid transparent;
}
button#esqueci-senha:hover{
    color: var(--secondary-color);
    transition: all 100ms;
}
aside.links{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
aside.links p{
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
aside.links > p > a > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
aside.links > p > a > img.minha_image{
    filter: drop-shadow(-1px -1.5px 15px #f8df02);
}
aside.links > p > a > img.cetreina{
    filter: drop-shadow(-1px -1.5px 15px #ff6600);
    
}
footer.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}
}

@media (min-width: 750px) {
    html{
        background-image: none;
        background-color: var(--primary-color);
    }
    img.logo{
        width: 200px;
    }
}
