@charset "utf-8";

:root{
 --font_principal: Arial, Helvetica, sans-serif; 
 --space: 1em;
}

*{
    padding: 0%;
    margin: 0%;
}

.conteiner{
    padding: var(--space);
    display: flex;
    flex: auto;
    background-color: aqua;
    justify-content: space-between;
    font-family: var(--font_principal);
}

.item{
    padding: 1em;
    border-radius: var(--space);
    background-color: darkblue;
}