@charset "utf-8";

@media all{
    
    html{
        font-size: 62.5%; /*Congruente a 10px*/
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }
    
    header.menu{
        background-color: rgba(0, 0, 0, 0.685);
        color: antiquewhite;
        position: sticky;
        top: 0;
        font-family: 'Courier New', Courier, monospace;
        font-size: 2rem;
        width: 100vw;
        height: 50px;
        box-shadow: -5px 10px 18px rgba(0, 0, 0, 0.815);
        display: flex;
        justify-content: space-between;
        z-index: 1;
    }
    
    header.menu nav a{  
        position: relative;
        text-decoration: none;
        color: antiquewhite;
        text-align: center;
        top: 15px;
        left: 30px;
        padding: 10px;
    }
    
    header.menu p.label{
        position: relative;
        right: 50px;
        top: 10px;
        font-size: 3rem;
        text-shadow: 2px 2px 5px whitesmoke;
        
    }
    
    main{
        min-width: 300px;
        width: 100vw;
        max-width: 800px;
        margin: 30px auto;
    }

    main header.heading{
        text-align: center;
        vertical-align: middle;
    }

    main h1{
        padding: 10px auto;
        font-family: sans-serif;
        font-size: 3.0rem; 
        font-weight: bold;
        vertical-align: middle;
    }

    section.content{
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
        justify-content: center;
    }

    p.conteudo{
        width: 300px;
        min-height: 150px;
        height: max-content;
        padding: 20px;
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.747);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.699);
        font-family: sans-serif;
        font-weight: 700;
        font-size: 2rem;
        background-color: whitesmoke;
        margin: 10px 20px;
        overflow-y: hidden; 
    }
    
    p.conteudo:hover {
        transform: scaleX(1.025) scaleY(1.025);
        transition: all 400ms;
    }
}

@media screen and (min-width: 800px){
    
    main{
        min-width: 800px;   
        width: 100vw;
        max-width: 1400px;
        margin: 30px auto;
    }
}

@media print{
    
    header{
        display: none;
    }
    
    section.content p.conteudo{
        box-shadow: none;
        border-radius: 0%;
        font-size: 1.6rem;
        text-align: justify;
        margin: 0;
    }
}