@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 1em;
}
body{
    margin: auto;
}
main{
    min-width: 320px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 500px));
    grid-template-rows: repeat(auto-fill, minmax(320px, 500px));
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    background-color: aqua;
}
section{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    border-radius: 20px;
    padding: 100px;
    background-color: aliceblue;
}
p{
    box-sizing: content-box;
}