<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="shortcut icon" href="../images/logomarca-uerj.png" type="image/x-icon">
    <title>Mon-Arq UERJ-ZO</title>
</head>
<body>
    <header class="top">
        <h2>UERJ-ZO</h2>
        <a href="." target="_self" class="login">Login</a>
    </header>
    <main class="conteiner">
        <header class="title">
            <h1>Monitoria Arquitetura de Computadores</h1>
        </header>
        <img src="../images/logomarca-uerj.png" class="logo" alt="logomarca da uerj">
        <section class="content">
            <fieldset class="box-data">
                <form action="#" method="post">
                <div class="matricula">
                    <label for="matricula">
                    Matricula:</label><br>
                    <input type="text" id="matricula" name="matricula"
                    maxlength="12"
                    required>
                </div>
                <div class="password">
                    <label for="password">Senha:</label><br>
                    <input type="password" id="password" name="password"
                    required>
                </div>
                <div class="bt-box">
                    <input type="submit" id= "submit" value="Entrar">
                    <button type="button">Esqueci minha senha</button>
                </div>
                </form>
            </fieldset>
            <p class="info"></p>
        </section>
        <footer class="info">
            Esta página é apenas um protótipo de um projeto
        </footer>
    </main>
    <footer class="rodape">

    </footer>
</body>
</html>

