@charset "utf-8";

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans italic';
    src: url('../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: var(--font_sans);
    font-size: 2rem;
    color: var(--primary_color);
}
h1, h2, h3, h4 ,h5, h6{
    font-family: var(--font_montserrat);
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    font-size: 5rem;
    margin: 5rem 0 0 0;
}
h3{
    font-size: 4.5rem;
}
h4{
    font-size: 4rem;
}
h5{
    font-size: 3.5rem;
}

h6{
    font-size: 3rem;
}