@charset "utf-8";


.intro-content{
display: grid;
grid-template-rows: 1.5fr 1fr;
justify-content: space-evenly;
gap: var(--gap);
min-height: 100vh;
}

.intro-text-content{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;

}
.intro-text-content h2{
font-size: 6rem;
margin-bottom: 5rem;
text-transform: uppercase;
}

.intro-img{
display: flex;
justify-content: center;
align-items: end;
}

.intro-img img{

max-width: 500px;
width: 40vw;
min-width: 300px;
max-height: 500px;
height: 40vw;
min-height: 300px;
}

.apple-content{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
gap: var(--gap);
}


.apple-content h2{
text-transform: uppercase;
font-size: 4.5rem;
}

.apple-content p{
max-width: 80rem;
}

.apple-content img{

max-width: 500px;
width: 40vw;
min-width: 300px;

max-height: 500px;
height: 40vw;
min-height: 300px;

}

.intro-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: var(--gap);
    min-height: 100vh;
    padding: var(--gap);

}


.gallery-img img{
    border: 2px solid var(--white-color);
    border-radius: 10px 10px 10px 10px;
    filter: drop-shadow(2px 3px 5px);
    max-width: 30rem;
    max-height: 30rem;
}
.gallery-img img:hover{
    transform: scale(1.05, 1.05);
    transform: translate(-2%, -2%) rotate(-1deg);
    transition: all  200ms ease-in-out;
}